<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	
	xmlns:context="http://www.springframework.org/schema/context"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">

<!-- 	<bean id="customerDAO" class="com.test.dao.JdbcCustomerDao"> -->
<!-- 		<property name="dataSource" ref="dataSource" /> -->
<!-- 	</bean> -->
	<bean id="customerDAO" class="com.test.dao.JdbcCustomerDaoPlus">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	
	<!-- byName--> 
	<!-- customer的addr属性名称和addr bean相同 -->
	<bean id="customer" class="com.test.pojo.Customer" autowire="byName"/>
	
	<bean id="addr" class="com.test.pojo.Address">
		<property name="fulladdr" value="ZhangDong Road,1388" />
	</bean>
	
	
	<!-- byType-->
	<!--person的属性ability类型和steal bean类型相同 -->
	<!-- 	只能有一个bean为Ability类型，否则出错 -->
	<bean id="person" class="com.test.pojo.Person" autowire="byType"/>
	
<!-- 	<bean id="invisible" class="com.test.pojo.Ability"> -->
<!-- 		<property name="skill" value="Invisible"/> -->
<!-- 	</bean> -->
	
	<bean id="steal" class="com.test.pojo.Ability">
		<property name="skill" value="Steal"/>
	</bean>
	
	
	<!-- 	constructor -->
	<bean id="developer" class="com.test.pojo.Developer" autowire="constructor"/>
	<bean id="lang" class="com.test.pojo.Language">
		<property name="name" value="Python" />
	</bean>	
	
	<!-- 	@Autowired 下面两种方式配置-->
<!-- 	<context:annotation-config /> --><!-- 配合根节点声明使用 -->
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
	
<!-- @Autowired注解是通过匹配数据类型自动装配Bean。 -->
	<bean id="soldierBean" class="com.test.pojo.Soldier">
		<property name="category" value="archer" />
	</bean>
	
	<bean id="weaponBean1" class="com.test.pojo.Weapon">
		<property name="name" value="bow" />
	</bean>
	
	<bean id="weaponBean2" class="com.test.pojo.Weapon">
		<property name="name" value="sword" />
	</bean>
		
</beans>

